html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: default;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 4rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  height: 10vh;
}

.header .logo, .header .user {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .logo object, .header .logo img, .header .user object, .header .user img {
  width: 5.5rem;
}

.header .user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .search {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search input {
  border: 0;
  border-bottom: 3px solid #000;
  width: 100%;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  height: 5rem;
  cursor: none;
  background: #fff;
}

.header .search input:focus {
  outline: none;
}

.header .search img {
  position: absolute;
  right: 0;
  width: 3rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: .75;
      -ms-flex: .75;
          flex: .75;
  text-align: center;
  height: 90vh;
}

.main .aside .form-btn, .main .aside .cards-btn {
  opacity: .5;
  font-size: 2.5rem;
  -webkit-transition: font-size .3s ease;
  transition: font-size .3s ease;
  cursor: pointer;
  margin: 5rem 1rem;
  display: block;
}

.main .vertical-line {
  width: .5rem;
  background: #000;
  height: 80vh;
}

.main .content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  overflow: hidden;
}

.active-btn {
  font-weight: 700 !important;
  font-size: 4rem !important;
  opacity: 1 !important;
}

.content {
  overflow: hidden;
  height: 90vh;
  position: relative;
}

.form-container {
  height: 100%;
  padding: 5vh 3vw;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.form-container .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10vh;
}

.form-container .input-row .input-container {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

.form-container .input-row .input-container input[type="text"],
.form-container .input-row .input-container input[type="email"],
.form-container .input-row .input-container input[type="tel"],
.form-container .input-row .input-container textarea {
  padding: 1rem 0.25rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.form-container .input-row .input-container textarea {
  height: 20vh;
}

.form-container .input-row .input-container .job-input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.form-container .input-row .input-container .job-input-row input[type="radio"] {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
}

.form-container .input-row .input-container input[type="checkbox"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 2rem;
}

.form-container .input-row .input-container .checkbox-info {
  font-size: 1.6rem;
  opacity: 0.5;
  margin-top: 1rem;
}

.form-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container .btn-container .front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2rem;
  background: #fff;
  border: #000 solid 1px;
  color: #000;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.form-container .btn-container .push {
  background: #000;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin: auto;
}

.form-container .btn-container .push:active .front {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media screen and (max-width: 984px) {
  .input-container {
    width: 50vw !important;
  }
  .form-container {
    overflow-y: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-bottom: 0 !important;
  }
  .input-container {
    margin-bottom: 2rem !important;
    margin: auto;
  }
}

.arrow-control img {
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.arrow-control img:first-child {
  left: 1vw;
  opacity: 0.25;
  cursor: default;
}

.arrow-control img:last-child {
  right: 1vw;
}

.cards-container {
  height: 100%;
  padding: 5vh 1vw;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cards-container .grid-container {
  padding: 0 4vw;
  min-width: 80vw;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.cards-container .grid-container .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  min-height: 38vh;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-bottom: 1rem;
}

.cards-container .grid-container .grid-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #fff;
  z-index: 2;
}

.img-container {
  height: 13rem;
}

.img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1rem;
}

.body {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0 1rem;
}

@media screen and (max-width: 480px) {
  .arrow-control img {
    width: 30px;
  }
  .grid-container {
    padding: 0 4vw;
    min-width: 80vw;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)) !important;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
    left: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}

.form-modal {
  position: absolute;
  width: 80vw;
  height: 80vh;
  background: #000;
  left: 50%;
  top: 50%;
  padding: 2rem 0;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.form-modal > p {
  font-size: 2rem;
}

.close-btn {
  padding: 1rem 4rem;
  color: #fff;
  border: 1px solid #fff;
  background: #000;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  cursor: pointer;
}

.close-btn:hover {
  background: #fff;
  color: #000;
}
/*# sourceMappingURL=style.css.map */