@use '../helpers' as func;

.footer {
  @extend .bottom;
  position: absolute;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  .icon-wrapper {
    @include func.flex($justify: normal);
    a {
      display: flex;
    }
    a:first-child {
      margin-right: 1em;
    }
    img {
      width: 3.5rem;
    }
  }
}
