.form-modal {
  position: absolute;
  min-width: 80vw;
  min-height: 80vh;
  overflow: auto;
  background: #000;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  padding: 2rem 0;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  & > p {
    font-size: 2rem;
  }
  display: none;
  .form-modal-title {
    font-weight: 700;
    font-size: 2.4rem;
  }
}
.close-btn {
  padding: 1rem 4rem;
  color: #fff;
  border: 1px solid #fff;
  background: #000;
  transition: color 1s ease-out;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #000;
  }
}
