html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  cursor: default;
}
