.card-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  column-gap: 2.5vw;
  row-gap: 4vh;
}
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
@media (max-width: 768px) {
  .card-container {
    padding: 2rem 1rem;
  }
}
